/*Spinner de dashboard*/
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #e9e9e97b;
  transform: translate(-50%, -50%) scale(1);
  animation: push 2s infinite ease-in;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -webkit-animation: push 2s infinite ease-in;
}

.loader:after {
  animation-delay: 10s;
}

@keyframes push {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  15%, 25% {
    transform: translate(-50%, -50%) scale(1);
  }
  50%, 75% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  80%, 100% {
    transform: translate(-50%, -50%) scale(0);
  }
}



/*FIN Spinner de dashboard*/


.header {
  max-width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 15px 18px;
  background-color: #2c3e50;
  color: white;
  
}

.container{
  width: 100%;
  max-width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;

}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-left: 20px;
  margin-top: 18px;
}

ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul li a:hover, ul li button:hover {
  text-decoration: underline;
}



/*dashboard*/
.carousel-img{
  object-fit: cover;
  
}

@media (max-width:768px){
  .carousel-img{
    height: 200px;
   
    
  }

  .carousel-control-prev, .carousel-control-next {
    width: 90px; /* Menor anchura en dispositivos móviles */
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px; /* Icono más pequeño en dispositivos móviles */
    height: 20px; /* Icono más pequeño en dispositivos móviles */
  }
}

/*tabla de iconos/*/
.icon-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.icon-column{
  flex: 1;
  text-align: center;
  margin: 6px;
}

.some-icon-classname{
  display: inline-block; /* Permite aplicar dimensiones y alineación */
  width: 50px; /* Tamaño del círculo */
  height: 50px; /* Tamaño del círculo */
  background-color:#2c3e50; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace el borde completamente redondo */
  line-height: 50px; /* Centra el texto o ícono verticalmente */
  text-align: center; /* Centra el texto o ícono horizontalmente */
  color: white; /* Color del ícono o texto */
  font-size: 24px; /* Tamaño del ícono si usas una fuente de íconos */
  box-shadow: 0 4px 8px rgba(0, 0.4, 0, 0.4); /* Sombra opcional para efecto 3D */
  transition: background-color 0.3s, transform 0.3s; /* Suaviza las transiciones */
}

.some-icon-classname:hover{
  background-color: #ffffff;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-column p {
  margin-top: 5px; /* Espacio entre el ícono y el texto */
  color: #333; /* Color del texto */
}

/*dasboard tabla informativa*/
.columna2 {
  background-color: #2c3e50;
  padding: 16px; /* Reducido para menos empuje */
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.639);
  color: white;
  box-sizing: border-box; /* Incluye padding y border dentro del ancho total */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transiciones suaves */
}

.columna2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  /*Menorescalaparareducirelefectodesalida*/background-color: #133a62;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media (max-width: 768px) {
  .columna2 {
    padding: 15px; /* Consistente reducción de padding */
    display: flex;
    justify-content: center; /* Asegura centrado horizontal */
    border: 1px solid #ffffff;
  }
}


/*cards*/
.card {
  margin-top: 20px;
  box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.685);
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {
  .card{
    margin-left: 40px;
  }


}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.btn-card{
  background-color:#2c3e50;
 
}


.card-img-top {
  width: 100%;
  height: auto; /* Asegúrate de que la imagen cubra bien el espacio asignado sin deformarse */
}

.card-body {
  padding: 20px;
}


/*Login*/
.btn {
  background-color: #133a62;
  border: none;
  color: white;
  cursor: pointer;
  
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1614670453169-89b992542686?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'); /* Ajusta el path a tu imagen */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 10;
}

.icono{
  color: #ffffff;
  box-shadow: 0px 0px 0.1px rgb(255, 255, 255);

}

.card-login{
  background-color: rgba(255, 255, 255, 0.863);
  height: 95%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color:white;
  background: rgba(255, 255, 255, .25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);

}
.card-header{
  font-size: 1.9rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.669);
}

.card-text{
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.label-formulario{
  font-weight: 700;
  font-size: 1.1rem;
  
}

/*Registro fondo de pantalla*/

#background-image-registro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1504567961542-e24d9439a724?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Ajusta el path a tu imagen */
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.card-registro{
  background-color: rgba(255, 255, 255, 0.863);
  height: 95%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color:white;
  background: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(8px);
  border: 1.5px solid rgba(209, 213, 219, 0.338);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/*Productos*/
.title-products{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #2c3e50;

}

/**/
.title-products {
  margin-top:15px;
  text-align: center;
  margin-bottom: 10px;
}

.underline{
  height: 2px;
  width: 60%;
  background-color: #133a62;
  margin-bottom: 25px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Espacio entre las tarjetas */
  margin-bottom: 20px;
}

.product-card {
  width: 200px; /* Ancho de cada tarjeta */
  border: 1px solid #ccc; /* Bordes suaves para la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que todo el contenido se quede dentro de los bordes redondeados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave para 3D */
  transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}

.product-card:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el mouse */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.484);
}

.product-image {
  width: 100%; /* Asegura que la imagen cubra el ancho de la tarjeta */
  height: 180px; /* Altura fija para las imágenes */
  object-position: center;
}

.product-title {
  padding: 10px;
  font-size: 16px; /* Tamaño de fuente para el título */
  font-weight: 790;
  text-align: center; /* Centro el texto del título */
}

.product-price {
  padding: 0 10px 10px;
  font-size: 16px; /* Tamaño de fuente para el precio */
  color: green; /* Color para el precio, típicamente verde o algo que destaque */
  text-align: center; /* Centro el texto del precio */
}